doctype html 
html(lang='en')
  head 
    title Note Web Application 
    link(rel='stylesheet', href='/static/main.css')
  body 
    div.wrapper 
      h1.logo Note Web Application   

      block number1 
      