* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center;
    font-size: 3.5rem;
    color: rgb(162, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid  rgb(162, 0, 255);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background:  rgb(162, 0, 255); 
    color: rgb(255, 255, 255);
}

.todos {
    margin-top: 25px;
    border: 1px solid rgb(162, 0, 255); 
    align-items: center;
    padding: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.todo:hover{
    background: whitesmoke;
}

.delete {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(162, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    background: rgb(162, 0, 255);
    color: whitesmoke;
}

.done, 
.undone {
  text-decoration: none;
  color: black;
}

.done {
  text-decoration: line-through;
}